<div class="animated fadeIn mt-5">

<div class="container">
    <div class="d-flex justify-content-right">
        <ul class="listStylenone">
            <li><h2 class="fw-Titulo">Audiencia</h2></li>
            <li><h3 class="fw-subTitulo">248.5k Listeners</h3></li>
            <li><h5>17 / Jul</h5></li>
        </ul>
    </div>      
</div>
<!-- Container inputs start -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6 d-flex justify-content-start mt-4">
            <ul class="ul">
                <li><button class="btnAnalytics">Listeners</button></li>
                <li><button class="btnAnalytics">Streams</button></li>
                <li><button class="btnAnalytics">Followers</button></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6 d-flex justify-content-end">
            <ul class="listStylenone">
                <li><label for="date" class="fw-subTitulo">Ingresar fecha</label></li>
                <li><input type="date" class="dateInput" placeholder="Ingresar fecha"></li>
            </ul>   
        </div>
    </div>
</div>
<!-- Container inputs end -->
<div class="container">
<div class="col-lg-12">
    <canvas id="lineChart" ></canvas>
</div>
</div>
<hr>

<!-- Analitycs Start -->
<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <!-- Analytics -->
            <!-- Analytics -->
            <!-- Analytics -->

            
            <canvas id="barChart"></canvas>

            <!-- Analytics -->
            <!-- Analytics -->
            <!-- Analytics -->

        </div>
    </div>
</div>
<!-- Analitycs End -->

<!-- Search artist start -->
<div class="fw-700 container mt-5 d-flex">
    <input class="form-control mr-sm-2 searchButton" aria-label="search" type="search" placeholder="Elegir artista para comparar">
</div>
<!-- Search artist end -->
<hr> 

<!-- Where your streams come from start -->
<div class="container">
    <h3 class="text-center fw-Titulo">Where your streams come from</h3>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <p style="padding-bottom:10rem;"></p>
        </div>
    </div>
</div>
<!-- Where your streams come from end -->

<hr>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6" style="padding-bottom:10rem">
            <h3 class="text-center fw-Titulo">Their gender</h3>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6" style="padding-bottom:10rem">
            <h3 class="text-center fw-Titulo">Their Age</h3>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-5">
            <table class="table">
                <thead class="backgroundTable">
                    <tr>
                        <th scope="col">Top</th>
                        <th scope="col">Canción</th>
                        <th scope="col">Reproducciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let top of tops">
                        <td>{{top.top}}</td>
                        <td>{{top.cancion}}</td>
                        <td>{{top.ingresos}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-7">
            <label class="d-flex justify-content-center">Reproducciones por país</label>
            <div class="d-flex justify-content-center">
                    <canvas id="pieChart"></canvas>
                <!-- <app-pie-chart [configChart]="configChartPais"></app-pie-chart>-->
            </div>
        </div>
    </div>
</div>
<!--
    <div class="row">
    <div class="col-md-4 classDiv">
        <h5>Seleccione los filtros de consulta:</h5>
    </div>
</div>
<br>
<form [formGroup]="consultaForm" (ngSubmit)="consultar()">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label for="fechaInicio">Fecha inicio:</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input formControlName="fechaInicio" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary far fa-calendar-alt" (click)="d.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="fechaInicio">Fecha final:</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input formControlName="fechaFinal" outsideDays="collapsed" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #p="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary far fa-calendar-alt" (click)="p.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Canal:</label>
                        <app-autocomplete [data]="canales" [form]="consultaForm" [control]="'canal'"></app-autocomplete>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top:31px;">
                    <button [disabled]="!consultaForm.valid" type="submit" class="btn btn-dark button-style "><strong>Consultar</strong></button>
                </div>
            </div>
        </div>
    </div>
</form>

<br>
<div class="row">
    <div class="col-md-6">
        <label>Top 10 reproducciones</label>
        <div class="table-responsive col-md-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Top</th>
                        <th scope="col">Canción</th>
                        <th scope="col">Reproducciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let top of tops">
                        <td>{{top.top}}</td>
                        <td>{{top.cancion}}</td>
                        <td>{{top.ingresos}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <label>Reproducciones por país</label>
        <app-pie-chart [configChart]="configChartPais"></app-pie-chart>
    </div>
</div>
<h2 class="text-center">Seleccione los filtros de consulta</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-3">
            <label for="fechaInicio">Fecha inicio:</label>
            <div class="form-group">
                <div class="input-group">
                    <input formControlName="fechaInicio" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary far fa-calendar-alt" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-xs-12 col-md-12 col-lg-3">
            <label for="fechaInicio">Fecha inicio:</label>
            <div class="form-group">
                <div class="input-group">
                    <input formControlName="fechaInicio" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary far fa-calendar-alt" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-xs-12 col-md-12 col-lg-3">
            <div class="form-group">
                <label for="exampleFormControlInput1">Canal:</label>
                <app-autocomplete [data]="canales" [form]="consultaForm" [control]="'canal'"></app-autocomplete>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-3" style="margin-top:2rem">
            <button [disabled]="!consultaForm.valid" type="submit" class="bgBtn"><strong>Consultar</strong></button>
        </div>
    </div>
</div>
-->
</div>
