.border-div {
	border-left: 8px solid #edd920;
	height: 40px;
	width: 100% !important;
	color: #edd920;
}

.border-div-se {
	border-left: 8px solid #161616;
	height: 40px;
	width: 100% !important;
}

li {
	display: inline-block;
}

li div {}

.img-style {
	width: 60px;
	height: 60px;
	margin-right: 1%;
}

.span-style {
	padding-left: 10px;
	color: black;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:1000px) {
	li div {
		display: inline-block;
	}
}

.sidebar .nav-item .nav-link .badge-counter,
.topbar .nav-item .nav-link .badge-counter {
	position: absolute;
	-webkit-transform: scale(.7);
	transform: scale(.7);
	-webkit-transform-origin: top right;
	transform-origin: top right;
	right: .25rem;
	margin-top: -.25rem;
}

.badge-danger {
	color: #fff;
	background-color: #e74a3b;
}

.badge {
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .35rem;
	-webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.dashedborder {
	border: 1px dashed #c4d1d9;
	padding: 20px;
}

.cantidad {
	font-size: 3vh;
	font-weight: normal;
	color: #666;
}

.followers {
	margin-top: -5px;
	color: #c4d1d9;
	margin-bottom: 0;
	font-size: 11px;
}

.chart {
	width: 100%;
	height: auto;
}

@media(max-width:767px) {
	#redes-mobile {
		width: 100%;
		padding: 0;
		text-align: center;
		margin: auto;
		margin-left: 4%;
	}

	#redes-mobile li {
		position: relative;
		display: block;
		float: left;
		width: 20%;
		padding: 20px;
	}

	.img-style {
		width: 50px;
		height: 50px;
	}

	.badgecustom {
		margin-right: 0;
		position: absolute;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		left: 25px;
		top: -15px;
		padding-top: 10px;
		background-color: #edd920 !important;
		color: black;
	}

	.redes {
		margin: 0;
	}

	.dashedborder {
		padding: 10px;
	}
}