<footer class="footer">
    <div class="container">
      <div class="row">
          <div class="col-md-4"><span class="span-style">MOJO - Todos los derechos reservados</span></div>
          <div class="col-md-4"><img src="./assets/img/yt-certified-AMARILLO.png"></div>
          <div class="col-md-4">
              <span class="icon-style">
                  <i class="fab fa-facebook-f"></i>
              </span>
              <span class="icon-style">
                  <i class="fab fa-twitter"></i>
              </span>
              <span class="icon-style">
                  <i class="fab fa-instagram"></i>
              </span>
          </div>
      </div>
    </div>
</footer>
