.card {
    width: 100% !important;
    margin-bottom: 5% !important;
}

.span-total {
    font-size: 2em;
    color: #edd920;
}

.classDiv {
    margin-left: 0px;
}

.table td {
    height: 36px;
}

@media screen and (max-width:575px) {
    .container {
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    table.button-style {
        color: #edd920;
        height: 50%;
        width: 100%;
        font-size: 20%;
        line-height: 10px;
    }
}