<div class="row">
    <div class="col-md-2">
        <label>Fecha inicial:</label>
        <input class="form-control" type="text" placeholder="fecha" class="form-control" [bsConfig]="bsConfig" #dp="bsDatepicker" bsDatepicker>
    </div>
    <div class="col-md-2">
        <label>Fecha final:</label>
        <input class="form-control" type="text" placeholder="fecha" class="form-control" [bsConfig]="bsConfig" #dp="bsDatepicker" bsDatepicker>
    </div>
    <div class="col-md-2">
        <button style="margin-top:31px" class="btn btn-dark button-style">Consultar</button>
    </div>
</div>
<br>
<div class="dashedborder">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <label>Filtrar:</label>
                    <ng-select (change)="onChange($event)" [items]="filtro" bindLabel="nombre" placeholder="Seleccione filtro">
                    </ng-select>
                </div>
                <div *ngIf="show" class="col-md-6">
                    <label>Por:</label>
                    <ng-select (change)="onChangePor($event)" [items]="objeto" [bindLabel]="label" placeholder="Seleccione filtro">
                    </ng-select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <mat-chip-list>
                        <mat-chip *ngFor="let filter of filters" [removable]="removable" (removed)="remove(filter)">{{filter.tipo}}:{{filter.valor}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <strong>Estado de cuenta</strong>
                </div>
                <div class="col-md-6 text-right">
                    $23,233.2
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <strong>Ingresos</strong>
                </div>
                <div class="col-md-6 text-right">
                    $23,233.2
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label style="padding-left: 10px">
                            Detalle
                    </label>
                </div>
                <div class="col-md-4 text-right">
                    $23,233.2
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <strong>Pago</strong>
                </div>
                <div class="col-md-6 text-right">
                    $23,233.2
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label style="padding-left: 10px">
                            Full tracks
                    </label>
                </div>
                <div class="col-md-4 text-right">
                    $23,233.2
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h6><strong>Descripción</strong></h6>
                    <p>Detalle de pago ............</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!--
<div class="row">
    <div class="col-md-12">
        <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
    </div>
</div>
-->
<br>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Imprint" role="tab" aria-controls="Imprint" aria-selected="true">Imprint</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Artist" role="tab" aria-controls="Artist" aria-selected="false">Artist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Product" role="tab" aria-controls="Product" aria-selected="false">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Track" role="tab" aria-controls="Track" aria-selected="false">Track</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Source" role="tab" aria-controls="Source" aria-selected="false">Source</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Country" role="tab" aria-controls="Country" aria-selected="false">Country</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Channel" role="tab" aria-controls="Channel" aria-selected="false">Channel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Period" role="tab" aria-controls="Period" aria-selected="false">Activity period</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Imprint" role="tabpanel" aria-labelledby="home-tab">
                <br>
                <app-datatable></app-datatable>
            </div>
            <div class="tab-pane fade" id="Artist" role="tabpanel" aria-labelledby="profile-tab">Artist</div>
            <div class="tab-pane fade" id="Product" role="tabpanel" aria-labelledby="contact-tab">Product</div>
            <div class="tab-pane fade" id="Track" role="tabpanel" aria-labelledby="contact-tab">Track</div>
            <div class="tab-pane fade" id="Source" role="tabpanel" aria-labelledby="contact-tab">Source</div>
            <div class="tab-pane fade" id="Country" role="tabpanel" aria-labelledby="contact-tab">Country</div>
            <div class="tab-pane fade" id="Channel" role="tabpanel" aria-labelledby="contact-tab">Channel</div>
            <div class="tab-pane fade" id="Period" role="tabpanel" aria-labelledby="contact-tab">Period</div>
        </div>
    </div>
</div>

<app-loading [loading]="loading"></app-loading>