.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.is-invalid {
    color: red;
}

#nuevo-album-desktop {
    display: block;
}

#nuevo-album-mobile {
    display: none;
}

@media(max-width:767px) {
    #nuevo-album-desktop {
        display: none;
    }
    #nuevo-album-mobile {
        display: block;
    }
}
.bgTitle{
    background-image: url("src/assets/img/logoweb.png");
    background-repeat: no-repeat;
    padding:0!important;
    background-position: bottom right;
    height: 4rem;
    opacity: 0.5;
}