.table {
    width: 100% !important;
    font-size: 13px;
    margin-bottom: 15px;
    padding:0!important;
}

.table td,
.table th {
    padding: 0.7rem !important;
}

.thead-dark th {
    background-color: black !important;
    color: #edd920 !important;
    height: 3rem;
    text-align: center;
}

tr {
    text-align: center !important;
}

.filter {
    width: 30%;
}