<div class="card w-75" style="margin-left:7rem">
	<div class="row no-gutters">
		<div class="col-md-4 img-artist text-center">
			<img style="width: 120px;height:120px;" src="assets/iconos/microfono.png" class="card-img" alt="microfono">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">
					<strong>{{artistaData.nombres}}</strong>
					<hr>
				</h5>
				<div class="text">
					<div class="pb-3">
						<span>País: </span>
						<label *ngIf="artistaData.pais != null"> {{artistaData.pais.nombre}}</label>
						<label *ngIf="artistaData.pais == null"> ----- </label>
					</div>
					<div class="pb-3">
						<span>Sello: </span>
						<label *ngIf="artistaData.label != null"> {{artistaData.label}}</label>
						<label *ngIf="artistaData.label == null"> ----- </label>
					</div>
					<div class="row">
						<div class="col">
							<div class="pb-3">
								<span><img class="img-style" src="assets/iconos/spotify.png"></span>
								<label *ngIf="artistaData.idSpotify != null"> {{artistaData.idSpotify}}</label>
								<label *ngIf="artistaData.idSpotify == null"> ----- </label>
							</div>
							<div class="pb-3">
								<span><img class="img-style" src="assets/iconos/facebook.png"></span>
								<label *ngIf="artistaData.facebook != null"> {{artistaData.facebook}}</label>
								<label *ngIf="artistaData.facebook == null"> ----- </label>
							</div>
						</div>
						<div class="col">
							<div class="pb-3">
								<span><img class="img-style" src="assets/iconos/youtube.png"></span>
								<label *ngIf="artistaData.canalYoutube != null"> {{artistaData.canalYoutube}}</label>
								<label *ngIf="artistaData.canalYoutube == null"> ----- </label>
							</div>
							<div class="pb-3">
								<span><img class="img-style" src="assets/iconos/Instagram.png"></span>
								<label *ngIf="artistaData.instagram != null"> {{artistaData.instagram}}</label>
								<label *ngIf="artistaData.instagram == null"> ----- </label>
								{{artistaData.instagram}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>