<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-6">
			<img src="assets/iconos/microfono.png" alt="microfono">
		</div>
		<div class="col-xs-12 col-md-12 col-lg-6">
			<div class="card-body text-center">
				<h2 class="card-title">
					{{artistaData.nombres}}
				</h2>
				<hr>
				<div class="text">
					<div class="pb-3">
						<span>País: </span>
						<label *ngIf="artistaData.pais != null"> {{artistaData.pais.nombre}}</label>
						<label *ngIf="artistaData.pais == null"> ----- </label>
					</div>
					<div class="pb-3">
						<span>Sello: </span>
						<label *ngIf="artistaData.label != null"> {{artistaData.label}}</label>
						<label *ngIf="artistaData.label == null"> ----- </label>
					</div>

					<ul class="ul">
						<li class="li">
							<span><img class="img-style" src="assets/iconos/spotify.png"></span>
							<label *ngIf="artistaData.idSpotify != null"> {{artistaData.idSpotify}}</label>
							<label *ngIf="artistaData.idSpotify == null"> ----- </label>
						</li>
						<li class="li">
							<span><img class="img-style" src="assets/iconos/facebook.png"></span>
							<label *ngIf="artistaData.facebook != null"> {{artistaData.facebook}}</label>
							<label *ngIf="artistaData.facebook == null"> ----- </label>
						</li>
						<li class="li">
							<span><img class="img-style" src="assets/iconos/youtube.png"></span>
							<label *ngIf="artistaData.canalYoutube != null"> {{artistaData.canalYoutube}}</label>
							<label *ngIf="artistaData.canalYoutube == null"> ----- </label>
						</li>
						<li class="li">
							<span><img class="img-style" src="assets/iconos/Instagram.png"></span>
							<label *ngIf="artistaData.instagram != null"> {{artistaData.instagram}}</label>
							<label *ngIf="artistaData.instagram == null"> ----- </label>
							{{artistaData.instagram}}
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>
