.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.is-invalid {
    color: red;
}
.bgTitle{
    background-image: url("src/assets/img/logoweb.png");
    background-repeat: no-repeat;
    padding:0!important;
    background-position: bottom right;
    height: 4rem;
    opacity: 0.5;
}

/*Nuevos estilos*/

::ng-deep input {
    width: 70%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-left: 0px !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
