<div *ngIf="show" class="row">
	<div class="col-md-4">
		<label for="exampleFormControlInput1">Buscar artista:</label>
		<input [(ngModel)]="text" class="form-control" id="exampleFormControlInput1" placeholder="ingrese el nombre del artista">
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-4 text-right">
		<button *ngIf="show" style="margin-top:31px;" (click)=nuevoArtista() type="button" class="btn btn-dark button-style ">Nuevo Artista</button>
	</div>
</div>
<app-artista-form *ngIf="newartist && !show" [nuevoArtistaForm]="nuevoArtistaForm"></app-artista-form>
<div class="row">
	<div class="col-md-2">
		<button *ngIf="newartist && !show" (click)="show=true" type="button" class="btn btn-dark button-style "><strong>Cancelar</strong></button>
	</div>
	<div class="col-md-2">
		<button *ngIf="newartist && !show" (click)="guardarArtista()" type="button" class="btn btn-dark button-style "><strong>Guardar</strong></button>
	</div>
</div>
<br>
<div *ngIf="show" class="row">
	<div class="table-responsive col-md-12">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Artista</th>
					<th scope="col">Pais</th>
					<th scope="col">Sello</th>
					<th scope="col">Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let artista of artistas|search:text">
					<td>{{artista.nombres}}</td>
					<td *ngIf="artista.pais != null">
						{{artista.pais.nombre}}
					</td>
					<td *ngIf="artista.pais == null">
						-----
					</td>
					<td *ngIf="artista.label != null">
						{{artista.label}}
					</td>
					<td *ngIf="artista.label == null">
						-----
					</td>
					<td>
						<button type="button" class="btn btn-dark button-style btn-xs btn-yellow" (click)="verDetalleArtista(artista)" data-toggle="modal" data-target="#detallesArtista"><i class="fa fa-eye"></i></button>
						<button type="button" class="btn btn-secondary button-style btn-xs btn-yellow" (click)="editarArtista(artista)" data-toggle="modal" data-target="#editarArtista"><i class="fa fa-edit"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!--Mascara de carga-->
<ngx-loading [show]="loading">
</ngx-loading>