label {
    color: #edd920;
}
.body-login {
    background-color: #161616;
    overflow: hidden !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
    position: relative;
    z-index: 1;
}

.row-login {
    margin:0 auto;
    width: 50%;
    background-color: black;
    overflow: hidden;
    padding: 50px 40px 50px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius:20px;
}
.inputContainer{
    display:flex;
    justify-content: center;
}
.inputStyle{
    color:white;
    border:none;
    background-color:black;
    border-bottom: 2px solid #edd920;
    width: 85%;
    margin:0 auto;
}
.btnLoggin{
    background-color:#edd920;
    color:black;
    border:none;
    border-radius: 5px;
    padding: .5rem 2rem .5rem 2rem;
    display:block;
    margin: 0 auto;
    font-weight: 700;
}
.full-height {
    height: 100%;
}

.icon {
    color: white;
    margin-left:1rem;
}
.info-error {
    border: 1px solid #edd920;
    text-align: center;
    color: red;
}