input {
    width: 40% !important;
}

label {
    color: #edd920;
}

img {
    width: 30%;
    height: 20%;
}

.body-login {
    height: 100% !important;
    max-height: 100%;
    background-color: #161616;
    max-width: 100%;
}

.row-login {
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 17%;
    height: 100%;
    width: 100%;
}

.row {
    margin: 0px 0px 0px 0px !important;
}

@media screen and (max-width:1200px) {
    .row-login {
        margin-bottom: 30% !important;
        height: 100%;
    }
}