input {
    width: 40% !important;
}

.form-group {
    margin-left: 40% !important;
}

.logo {
    margin-left: 44% !important;
}

label {
    color: #edd920;
}

img {
    width: 30%;
    height: 20%;
}

.body-login {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    background-color: #161616;
    margin-top: 10%;
}