label {
    color: #edd920;
}

img {}

.body-login {
    height: 100% !important;
    max-height: 100%;
    background-color: #161616;
    max-width: 100%;
    overflow: hidden !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.row-login {
    margin: auto;
    width: 20%;
    background-color: #161616;
    opacity: 0.6;
    width: 390px;
    overflow: hidden;
    padding: 50px 40px 50px 40px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row {
    margin: 0px 0px 0px 0px !important;
}

@media screen and (max-width:1200px) {
    .row-login {
        width: 100%;
        height: 100%;
    }
}

.full-height {
    height: 100%;
}

.nw {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #edd920;
    color: #1e1e1e;
}

.customs {
    border-bottom: 2px solid yellow;
}

input,
button {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 15px;
    background: #edd920;
    color: #1e1e1e;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}