@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: #dddddd!important;
}
.fw-Titulo{
  font-weight: 900;
}
.fw-subTitulo{
  font-weight: 700;
}
.listStylenone{
  list-style:none;
}
.theme-green .bs-datepicker-head{
  background-color: #f4db31!important;
}
.bs-datepicker-head{
  min-width: 0!important;
  height: 2.5rem!important;
  padding:0!important;
}
.bs-datepicker-head button.current{
  display:block!important;
  margin:0 auto;
  margin-top:-25px!important;
}
.navbar{
  padding: 0.2rem 1rem!important;
}
.backgroundGral{
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px grey;
}
.label {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.centrarTexto{
  display: block;
  margin: 0 auto;
}
.contenedorEgreso{
  width: 75%;
  box-shadow: 1px 1px 1px 1px grey;
  display: block;
  margin: 0 auto;
}
.contenedor-90{
  padding-bottom:3rem;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px grey;
}
.btnGral, .bgBtn{
  border:none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color:#f4db31;
  color:black;
  margin-left:1rem;
}
.background-btn{
  border:none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color:#f4db31;
  color:black;
}
.background-btnBlack{
  border:none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color:black;
  color:#f4db31;
}
.backgroundTable{
  background-color: black!important;
  color:#f4db31!important;
  text-align: center;
}
.btnSize{
  width:240px!important;
  height: 50px;
}
.rowCentrado{
  display: flex;
  justify-content: center;
}
.iconsList{
  display: flex;
  justify-content: center;
}
.inputsDate{
  flex: 0 0 calc(33.3% - 1rem);
}
.dateInput{
  border:none;
  background-color:#fafafa;
  border-radius:10px 10px 10px 10px;
}
.ul{
  display: flex;
  justify-content: center;
  padding-left: 0!important;
  list-style:none;
}
.listStylenone{
  padding-left: 15px!important;
}
.li{
  padding:1rem;
}
.button-analitycs{
  border:none;
  border-radius: 10px;
  background-color: white;
  padding:1rem;
}
.button-analitycs:last-child{
  margin-left: 10px;
}
.button-analitycs:hover{
  background-color:#f4db31;
  color:black;
}
.btnGralMobile{
  width: 100%;
}
.btnGralMobile:hover{
  background-color: black;
  color:#f4da30;
}
.btnAnalytics{
  border:none;
  padding: .2rem 1rem .2rem 1rem;
  border-radius:10px 10px 10px 10px;
  background-color:#f4da30;
  margin-left:1rem;
  font-weight: 600;
}
.btnAnalytics:hover{
  background-color:black;
  color:#f4da30;
  transition:0.3s;
}
.btnAnalyticsBlack{
  border:none;
  padding: .2rem 1rem .2rem 1rem;
  border-radius:10px 10px 10px 10px;
  color:#f4da30;
  background-color:black;
  margin-left:1rem;
  font-weight: 600;
}
.btnAnalyticsBlack:hover{
  background-color:#f4da30;
  color:black;
  transition:0.3s;
}
.btnAnalyticsW95{
  width: 95%;
  margin-top:2.5rem;
}
.form-control{
  border:none!important;
  background-color:#fafafa!important;
  border-bottom:1px solid #f4db31!important;
}
.card-image{
  padding:6rem;
  display: block;
  margin:0 auto;
}
.list-group-item{
  border:none!important;
}
/*----- Buttons artista.component start <------*/


.findArtist{
  text-align:center;
}

/*----- Buttons artista.component end <------*/

/*----->  style table start  <-----*/
thead tr th{
  background-color: black;
  color:#f4db31;
  text-align: center;
}
tbody tr td{
  text-align:center;
  background-color: white;
}
/*----->  style table end  <-----*/

/*-----> media queries start <-----*/
@media screen and (max-width: 1500px){
    .form-control{
      height: 50px!important;
    }
    .inputArtist{
      border:none!important;
      background-color:white!important;
      border-bottom:1px solid #f4db31!important;
    }
    .btnNewArtistA{
      border:none;
      padding:10px 20px;
      background-color:#f4db31;
      border-radius: 10px;
    }
    .btnNewArtistB{
      border:none;
      padding:10px 20px;
      background-color:#f4db31;
      border-radius: 10px;
    }
/*--> Mobile start */
@media ( min-width: 450px ) and (max-width: 767px){
  .inputArtist{
    width: 100%;
  }
  .btnNewArtistB{
    visibility: hidden;
  }
  .background-btn{
    margin-left: 0!important;
    width: 100%;
  }
  .btnNewArtistA{
    visibility: visible!important;
		position: fixed;
		right: 0;
		bottom:0;
		margin-right: 3rem;
		margin-bottom:2rem;
		background-color: #f4da30;
		border-radius: 100px;
		box-shadow:1px 1px 1px 1px grey;
    font-size: 20px;

  }
  .btnNewArtist:hover, .btnGralMobile:hover{
    background-color: black;
		color:#f4da30;
  }
  .btnGralMobile{
    margin-left: 0!important;
    width: 100%!important;
  }
  .marginTop{
    margin-top:2rem;
  }
  .marginBottom{
    padding-bottom:3rem;
  }



  table{
		width: 100%;
		font-size: 1rem;
	}
	table tr{
    color:#f4da30!important;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		background-color: white;
		box-shadow: 0 0 2px 0 grey;
		padding: 1em;
		margin-bottom: 1em;
	}
	table thead{
		display: none;
	}
	table td{
		text-align: center;
	}
	table td[data-titulo]{
		display: flex;
	}
	table td[data-titulo]::before{
		content: attr( data-titulo );
		width: 8rem;
		color:silver;
		font-weight: 600;
	}
}
/*-----> media queries end <-----*/

/*-----> Animated start */
.animated{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeIn{
  from{
      opacity: 0 ;
  }
  to{
      opacity: 1;
  }
}
.fadeIn{
  animation-name: fadeIn;
}
/*-----> Animated end */

/*-----> Material inputs start */
/*.wrapper {
  max-width: 560px;
  margin: 100px auto;
}
*/
label {
  position: relative;
  display: block;
  width: 30rem;

}
label > input {
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 45px;
  width: 100%;
  font-size: 16px;
  margin: 0 0 30px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all .3s;
}
.white{
  color:white;
}
label > input:valid + span {
  transform: translateY(-25px) scale(0.8);
  transform-origin: 0;
}
label > input:valid {
  border-bottom: 1px solid #f4da30;
  box-shadow: 0 1px 0 0 #f4da30;
}
label > span {
  color: #9e9e9e;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  cursor: text;
  transition: .2s ease-out;
}
label > input:focus + span {
  transform: translateY(-25px) scale(0.8);
  transform-origin: 0;
  color: #f4da30;
}
label > input:focus {
  border-bottom: 1px solid #f4da30;
  box-shadow: 0 1px 0 0 #f4da30;
}
/*-----> Material inputs end */
