.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.is-invalid {
    color: red;
}

#nuevo-album-desktop {
    display: block;
}

#nuevo-album-mobile {
    display: none;
}

@media(max-width:767px) {
    #nuevo-album-desktop {
        display: none;
    }
    #nuevo-album-mobile {
        display: block;
    }
}