/* You can add global styles to this file, and also import other style files */

.button-style {
    color: #edd920;
    height: 30px;
    line-height: 10px;
    background-color: #161616;
}

hr {
    margin: 0 !important;
}

.form-control:focus {
    border-color: #edd920 !important;
    box-shadow: 0 0 0 0.1rem #edd920 !important;
}

.form-control {
    height: 30px !important;
}

.table {
    width: 100% !important;
}

.thead-dark th {
    background-color: #161616 !important;
    color: #edd920 !important;
    padding: 0.25rem;
    text-align: center;
}

tr {
    text-align: center !important;
}

.container {
    margin-top: 5% !important;
}


/*
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #161616;
}*/

.color-text {
    color: #edd920 !important;
}

.swal2-success-ring {
    border: .25em solid rgba(237, 217, 32, 0.8) !important;
}