<div class="container animated fadeIn mt-5">
    <div class="bgTitle">
        <h2 class="d-flex justify-content-start fw-Titulo">Formulario de afiliado</h2>
    </div>
    <hr>
  <div class="row rowCentrado mt-5">
    <div class="d-flex backgroundGral">
      <form>
        <ul class="p-5" style="list-style:none;display: block;margin 0 auto;">
            
          <li>
            <label class="mt-1">
              <input type="text" required="required" />
              <span>Nombre</span>
            </label>
          </li>
          <li>
            <label class="mt-1">
              <input type="text" required="required" />
              <span>Afiliado</span>
            </label>
          </li>
          <li>
            <label class="mt-1">
              <input type="text" required="required" />
              <span>Posición</span>
            </label>
          </li>
          <li>
            <label class="mt-1">
              <input type="text" required="required" />
              <span>Teléfono</span>
            </label>
          </li>
          <li>
            <button style="display:block; margin:0 auto;padding:0.3rem 3rem;" class="btnAnalytics mt-3">Consultar</button>
          </li>    
        </ul>
      </form>
    </div>
  </div>
</div>
