<label><strong>Track</strong></label>
<hr>
<div class="row">
    <div class="col-md-4">
        <label>Nombre:</label>
        <input class="form-control" id="idNombre" placeholder="Nombre">
    </div>
    <div class="col-md-4">
        <label>ISRC:</label>
        <input class="form-control" id="idIsrc" placeholder="ISRC">
    </div>
    <div class="col-md-4" style="margin-top:31px;">
        <button type="button" class="btn btn-dark button-style "><strong>Agregar track</strong></button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <label><strong>Tracks agregados</strong></label>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">ISRC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre 1</td>
                    <td>Isrc 1</td>
                </tr>
                <tr>
                    <td>Nombre 1</td>
                    <td>Isrc 1</td>
                </tr>
                <tr>
                    <td>Nombre 1</td>
                    <td>Upc 1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>