<div class="modal animated fadeIn" tabindex="-1" role="dialog" id="nuevoArtista">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Artista</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Pais:</label>
                        <select class="form-control" placeholder="Seleccione su pais de residencia" id="pais" required>
                                <option >
                                    Colombia
                                </option>
                            </select>
                        <!--<div *ngIf="nuevoArtistaForm.get('pais').invalid && (nuevoArtistaForm.get('pais').dirty || nuevoArtistaForm.get('pais').touched)" class="is-invalid">
                            <span *ngIf="nuevoArtistaForm.get('pais').errors.required">
                                    El pais es requerido
                                </span>
                        </div>-->
                    </div>
                    <div class="form-group">
                        <label for="">Nombres:</label>
                        <input type="text" class="form-control" placeholder="Nombres" id="nombres" required>
                        <!--<div *ngIf="nuevoArtistaForm.get('nombres').invalid && (nuevoArtistaForm.get('nombres').dirty || nuevoArtistaForm.get('nombres').touched)" class="is-invalid">
                            <span *ngIf="nuevoArtistaForm.get('nombres').errors.required">
                                    Los nombres son requeridos
                                </span>
                        </div>-->
                    </div>
                    <div class="form-group">
                        <label for="">Apellidos:</label>
                        <input type="text" class="form-control" placeholder="Apellidos" id="apellidos" required>
                        <!--<div *ngIf="nuevoArtistaForm.get('apellidos').invalid && (nuevoArtistaForm.get('apellidos').dirty || nuevoArtistaForm.get('apellidos').touched)" class="is-invalid">
                            <span *ngIf="nuevoArtistaForm.get('apellidos').errors.required">
                                    Los apellidos son requeridos
                                </span>
                        </div>-->
                    </div>
                    <div class="form-group">
                        <label for="">Spotify:</label>
                        <input type="text" class="form-control" placeholder="Su username en Spotify" id="spotify">
                    </div>
                    <div class="form-group">
                        <label for="">Facebook:</label>
                        <input type="text" class="form-control" placeholder="Su username en Facebook" id="facebook">
                    </div>
                    <div class="form-group">
                        <label for="">Spotify:</label>
                        <input type="text" class="form-control" placeholder="Su username en Youtube" id="youtube">
                    </div>
                    <div class="form-group">
                        <label for="">Instagram:</label>
                        <input type="text" class="form-control" placeholder="Su username en Instagram" id="instagram">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary button-style" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark button-style">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>