.navbar-brand {
    margin-left: 10% !important;
}

.navbar {
    background-color: #161616 !important;
}

li a {
    color: white;
    display: block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 30px !important;
    transition: color 1s;
}

li a:hover {
    color: gray !important;
    font-size: 17px !important;
}

.active {
    color: #edd920 !important;
}

.ml-auto {
    margin-left: 50% !important;
}

@media screen and (max-width:992px) {
    .ml-auto {
        margin-left: auto!important;
    }
    .navbar-brand {
        margin-left: 0% !important;
    }
    .navbar-light .navbar-toggler {
        border-color: #161616 !important;
    }
}