.navbar {
    background-color: black!important;
    color:#edd920;
}
.navbar .nav-item{
    color:#edd920;
}
.dropdown-item {
    color:#edd920;
}
.dropdown-item .navOption{
    color:black;
}
li a {   
    display: block;
    font-size: 16px;
    padding-right: 30px !important;
}
li a:hover{
    color:black!important;
    background-color:#edd920;
    transition:0.5s;
    border-radius: 2px;
}

label {
    margin-bottom: .0rem;
    width: 100px;
    line-height: 10px;
}

.class-icon {
    font-size: 1em;
    color: #edd920;
    margin-left: 2%;
    margin-right: 0;
}


.dropdown-menu {
    background-color: black !important;
}

.dropdown-menu a:hover {
    background-color: #edd920 !important;
    color:  black!important;
    transition:0.3s;
}

.logout {

    color: white;
    cursor: pointer;
}

.logout:hover {
    color: #edd920;
    transition:0.3s;
}

.navbar-collapse {
    width: 100%;
}

@media screen and (max-width:1270px) {
    .navbar-collapse {
        margin-left: calc(50%-15px) !important;
    }
}

@media screen and (max-width:992px) {
    .navbar-collapse {
        margin-left: calc(50%-10px) !important;
    }
    
    li a {
        color: white;
        display: block;
        font-size: 16px;
        padding-right: 30px !important;
    }
    li a:hover{
        color:yellow;
        transition:0.3s;
    }
    .logout {
        margin-left: 1%;
        color: white;
        cursor: pointer;
        display: block;
    }
}
.class1{
    color:black!important;
    background-color:#edd920!important;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: box-shadow 0.3s;
    border-radius:2px;
}

