
<div class="body-login full-height" style="background-image: url('./assets/img/Home.jpg');">
    <div class="container bgBlack rowCentradoLoggin" style="width: 50%!important">
            <div class="row">
                    <div class="" *ngIf="show" style="width:100%">
                        <form [formGroup]="loginForm">
                            <div class="logo" style="text-align: center">
                                <img class="img-fluid mt-5" src="./assets/img/logo-web.png">
                            </div>
                            
            
                            <div class="input-container">
                                <i class="fa fa-user icon"></i>
                                <input placeholder="Email" type="text" formControlName="email" class="bgInput" />
                            </div>
                            <div style="color:red;" *ngIf="submitted && f.email.errors">
                                <small *ngIf="f.email.errors.required">Email es requerido</small>
                            </div>
                            
                            <div class="input-container mt-3">
                                <i class="fa fa-lock icon"></i>
                                <input placeholder="Contraseña" type="password" formControlName="password" class="bgInput" />
                            </div>
                            <div style="color:red;" *ngIf="submitted && f.password.errors">
                                <small *ngIf="f.password.errors.required">Contraseña es requerida</small>
                            </div>
                            <div class="form-group" style="text-align: center">
                                <button *ngIf="!newPassword" (click)="login()" class="btnGeneral mt-5 btnLoggin">Ingresar</button>
                                <button *ngIf="newPassword" (click)="resetPassword()" class="btn btn-dark button-style">Cambiar</button>
                            </div>
                            <div class="info-error" *ngIf="mensajeError != null">
                                <small>{{mensajeError}}</small>
                            </div>
                        </form>
                    </div>
                </div>
    </div>
    
    
    <ngx-loading [show]="loading"></ngx-loading>
</div>