.inputSize{
    width:50%;
}
/*Loggin centrado*/
.body-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Styles btn Loggin*/
.btnLoggin{
    background-color: #edd920;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border:none;
    border-radius:5px;
}
.btnLoggin:hover{
    background-color:yellow;
}
/*Height Loggin*/
.full-height {
    height: 100%;
}
/*No esta en ningun lado, lo sacas y se rompen los inputs */
.customs {
    border-bottom: 2px solid yellow;
}
/*Input Size & center*/
.input-container {
    display: flex;
    margin:0 auto;
    width: 70%;
    margin-bottom: 0px;
}
/*Icon Styles usr y psw*/
.icon {
    padding: 15px;
    color:white;
    min-width: 50px;
    text-align: center;
}
/**/
.info-error {
    border: 1px solid #edd920;
    color: red;
    text-align: center;
}