<div class="container">
  <div class="d-flex justify-content-center">
    <div class="" style="background-color:white;border-radius:10px;box-shadow:5px 5px 5px 5px grey;margin-top:5rem;padding:5rem; ">
      <form class="text-center">
        <div class="form-group">
          <label for="exampleInputEmail1">Tipo de egresos</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border:none;background-color:#fafafa;border-bottom:1px solid yellow;">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Afiliado</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border:none;background-color:#fafafa;border-bottom:1px solid yellow;">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Descripción</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border:none;background-color:#fafafa;border-bottom:1px solid yellow;">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Fecha</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border:none;background-color:#fafafa;border-bottom:1px solid yellow;">
        </div>
        <button type="submit" style="border:none;background-color:yellow;padding:1rem;width:100%;border-radius:10px;box-shadow:2px 2px 2px 2px grey">Enviar</button>
        </form>
    </div>
  </div>
</div>
