<h1 class="text-center centrarTexto mt-3">Egresos</h1>
<div class="d-flex justify-content-center animated fadeIn mt-5">
  <form action="">
    <div class="container backgroundGral p-5">
          <div>
            <label>
              <input type="text" required="required" />
              <span>Ingresa tu nombre</span>
            </label>
          </div>
          <div>
            <label>
              <input type="text" required="required" />
              <span>Descripción</span>
            </label>
          </div>
          <div>
            <label>
              <input type="text" required="required" />
              <span>Monto</span>
            </label>
          </div>
          <div>
              <label>
                  <input type="text" required="required" />
                  <span>Fecha</span>
              </label>
          </div>
          <div>
            <label>
              <input type="text" required="required" />
              <span>Afiliado</span>
            </label>
          </div>
          <div>
            <button
              type="submit"
              class="btnAnalytics d-block justify-content-center mt-3"
              style="margin:0 auto;width: 10rem"
            >
              Enviar
            </button>
          </div>  
    </div>
  </form>
</div>
