<div class="contenedor-90">
  <div class="container mt-5 rowCentrado bg-90">
    <div class="row bgGeneral p-3">
      <h1 class="text-center centrarTexto p-3">Egresos</h1>
      <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="exampleInputEmail1" class="label text-center">Tipo</label>
            <input type="text" class="form-control bg-input bgInput" placeholder="Ingresa tu nombre">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label text-center">Descripción</label>
            <input type="text" class="form-control bg-input bgInput" placeholder="Ingresa tu teléfono">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label text-center">Monto</label>
            <input type="text" class="form-control bg-input bgInput" placeholder="Ingresa tu correo">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label text-center">Fecha</label>
            <input type="date" class="form-control bg-input bgInput" placeholder="Ingresa tu correo">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label text-center">Afiliado</label>
            <input type="text" class="form-control bg-input bgInput" placeholder="Ingresa tu correo">
          </div>
      </div>
      <button type="submit" class="d-flex justify-content-center btnGral" style="margin-top:1rem;margin:0 auto;width:93%;">Enviar</button>
    </div>
  </div>

</div>
