<!--Control pais-->
<div *ngIf="control === 'pais'">
    <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
    </ng-template>
    <form [formGroup]="form">
        <input [placeholder]="control" formControlName="paisId" id="typeahead-template" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" />
    </form>
</div>
<!--Control canal-->
<div *ngIf="control === 'canal'">
    <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
    </ng-template>
    <form [formGroup]="form">
        <input [placeholder]="control" formControlName="canal" id="typeahead-template" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" />
    </form>
</div>
<!--Control artista-->
<div *ngIf="control === 'artista'">
    <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.nombres" [term]="t"></ngb-highlight>
    </ng-template>
    <form [formGroup]="form">
        <input [placeholder]="control" formControlName="artista" id="typeahead-template" type="text" class="form-control" [ngbTypeahead]="searchArtista" [resultTemplate]="rt" [inputFormatter]="formatterArtista" />
    </form>
</div>